@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeworkCRUD.Pages.Cats.Cat_DetailsModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats App</title>
    <style>
        #h_list {
            font-size: 36px;
            color: blueviolet;
            font-style: italic;
            text-align: center;
        }
        #container {
            background-color: rgba(138,43,226,0.2);
            width: 300px;
            padding: 10px;
            margin: 10px;
        }
        #main_container {
            display: flex;
            justify-content: center;
        }
        .a_style {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="main_container">
        <div align="center" id="container">
            <h1 id="h_list"><u>@Model.Cat.Nickname</u></h1>
            <p><u>Gender:</u> @Model.Cat.Gender</p>
            <p><u>Birthday:</u> @($"{Model.Cat.Birthday:dd.MM.yyyy}")</p>
            <p><u>Breed:</u> @Model.Cat.Breed</p>
            <p><u>Rating:</u> @Model.Cat.Rating</p>
            <p><u>Price:</u> @Model.Cat.Price</p>
            <p><u>Description:</u> @Model.Cat.Description</p>
            <button><a class="a_style" asp-page="/Index">BACK</a></button>
        </div>
    </div>
</body>
</html>
