@page
@using HomeworkCRUD.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeworkCRUD.Pages.Cats.Cat_ListModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats List</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Выберите котика:</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nickname</th>
                <th>Gender</th>
                <th>Breed</th>
                <th>Birthday</th>
                <th>Behaviour</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cat cat in Model.Cats)
            {
                <tr>
                    <td>@cat.Id</td>
                    <td>@cat.Nickname</td>
                    <td>@cat.Gender</td>
                    <td>@cat.Birthday</td>
                    <td>@cat.Breed</td>
                    <td>@cat.Behaviour</td>
                    <td>@cat.Price</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>