@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RazorPagesSimpleCRUD.Pages.Issues.Issue_DetailsModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue List CRUD App</title>
</head>
<body>
    <h1>@Model.Issue.Id - @Model.Issue.Title</h1>
    <p>@Model.Issue.Description</p>
    <p>Дата создания: @($"{Model.Issue.CreatedAt:dd.MM.yyyy}")</p>
    <p>Дедлайн: @($"{Model.Issue.Deadline:dd.MM.yyyy}")</p>
    <p>Приоритет:
        @switch(Model.Issue.Priority) {
            case 1:
                <span>Низкий</span>
                break;
            case 2:
                <span>Средний</span>
                break;
            case 3:
                <span>Высокий</span>
                break;
            default:
                <span>Некорректный</span>
                break;
        }
    </p>
    <p>@(Model.Issue.Done? "Сделано" : "Не сделано")</p>

    <p><a asp-page="/Issues/Issue_List">Вернуться к списку дел</a></p>
</body>
</html>
