@page
@model MyCalendar.Pages.IndexModel
@{
    int counter = 1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body>
    <div id="main_div">
        <table>
            <caption><b>@Model.Now_date.ToString("MMMM").ToUpper() @Model.Now_date.Year.ToString()</b></caption>
            <thead>
                <tr>
                    <td>ПН</td>
                    <td>ВТ</td>
                    <td>СР</td>
                    <td>ЧТ</td>
                    <td>ПТ</td>
                    <td class="red">СБ</td>
                    <td class="red">ВС</td>
                </tr>
            </thead>
            <tbody>
                @do
                {
                    int count_days_prev_month = @Model.Count_days_prev_month;
                    <tr>
                        @for (int i = 1, j = 1; i <= 7; i++)
                        {
                            string classValue = "";
                            if (i < @Model.Day_of_week && @counter == 1)
                            {
                                <td class="grey">@count_days_prev_month</td>
                                count_days_prev_month++;
                                continue;
                            }
                            if (i == @Model.Day_of_week && @counter == 1 )
                            {
                                if (@Model.Day_of_week < 6)
                                {
                                    classValue += "black_border";
                                }
                                else
                                {
                                    classValue += "red_border";
                                }
                            }
                            if (i == 6 || i == 7)
                            {
                                classValue += "red";
                            }
                            if (counter > @Model.Count_days)
                            {
                                <td class="grey">@j</td>
                                j++;
                                continue;
                            }
                            <td class=@classValue>@counter</td>
                            counter++;
                        }
                    </tr>
                } while (@counter <= @Model.Count_days);
            </tbody>
        </table>
    </div>
</body>
</html>

