@page
@model HomeworkCalculator.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.App_name</title>
    <link rel="stylesheet" href="css/styleSheet.css">
</head>
<body>
    <div id="container">
        <h1>@Model.H1_name</h1>
        <form action="/" method="get">
            <div class="section">
                <label for="param">Выберите параметр:</label>
                <select class="width_el" id="param" name="param">
                    <option value="radius" selected="@(Model.Param == "radius")">Радиус</option>
                    <option value="diameter" selected="@(Model.Param == "diameter")">Диаметр</option>
                </select>
            </div>
            <div class="section">
                <label for="value">Введите значение параметра:</label>
                <input class="width_el" type="number" id="value" name="value" min="0" step="any" required value="@Model.Value"/>
            </div>
            <div class="section">
                <label for="issue">Выберите задачу:</label>
                <select class="width_el" id="issue" name="issue">
                    <option value="square" selected="@(Model.Issue == "square")">Площадь</option>
                    <option value="length" selected="@(Model.Issue == "length")">Длина</option>
@*                     <option value="square" selected="@(Model.Issue == "square")">Площадь</option>
                    <option value="length" selected="@(Model.Issue == "length")">Длина</option> *@
                </select>
            </div>
            <div class="last_section">
                <button>Calculate</button>
            </div>
            <div class="section">
                <label id="result">Result:</label>
                @if (@Model.Error == null)
                {
                    <label>@Model.Result</label>
                }
                else
                {
                    <label>@Model.Error</label>
                }               
            </div>
        </form>
    </div>
</body>
</html>